// color-template

$theme-clr-green: #00730C;
$theme-clr-black: #0B0B0B;
$theme-clr-dark-green: #0C4B35;

$bg-clr-gray: #E3E3E3;
$bg-clr-white: #FFFFFF;
$bg-clr-black: #242424;
$bg-clr-light-gray: #F0F0F0;
$bg-clr-light-blue: #D9F1DF;
$bg-clr-light-pink: #FBEEE7;
$bg-clr-gradient-green: linear-gradient(#FBF6EE, #00730c);
$bg-clr-fog-gray: #F6F6F6;


$typo-clr-black: #212529;
$typo-clr-white: #FFFFFF;
$typo-clr-gray: #676767;

$icon-clr-blue-1: #375490;
$icon-clr-blue-2: #009FEE;
$icon-clr-blue-3: #367CFF;
$icon-clr-white: #0079B2;
$icon-clr-blue: #EF1408;


